<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<script src ="javascripts/jquery-1.7.2.min.js"></script>
<script src ="javascripts/game.js"></script>
<script src ="javascripts/environments.js"></script>
</head>
<body>

<div id = "consolearea">
	<h1>NodeVenture</h1>
	<div id = "wrapper">
		
		<div id = "outputarea">
		
		</div>
		
		<div id = "connections">
		put connections here
		</div><!--connections-->
	</div><!--wrapper-->
		<form>
		<input id = "inputarea" type = "text" placeholder = "Type Here!"/>
		</form>
		<div id= "command-list">
			<h4>Commands:</h4>
			<b>Start:</b> Type "start" to start a new game.<br>
			<b>Move:</b> Type "move" and then a cardinal direction.  Ex. move north.<br>
			<b>View:</b> Type "view" to examine the environment you are currently in.<br>
		</div>
	
</div><!--consolearea-->


</body>
</html>
